<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Pracownicy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>

<h1 style="margin-left: 1%; margin-top: 1%">Lista pracowników</h1>

<a th:href="@{'/edycja/' + ${worker.getId()}}">
    <button class="btn btn-primary" style="margin-left: 1%; margin-top: 1%" type="button">Edytuj pracownika</button>
</a>
<br/>
<br/>

<a style="margin-left: 1%" href="/">Wróć na stronę główną</a>

<br/>
<br/>
<div style="margin-left: 2%">
        <p>Imię: <b><a th:text="${worker.getFirstName()}"></a></b></p>

        <p>Nazwisko: <b><a th:text="${worker.getLastName()}"></a></b></p>

        <p>PESEL: <b><a th:text="${worker.getPESEL()}"></a></b></p>

        <p>Wynagrodzenie: <b><a th:text="${worker.getSalary()}"></a></b></p>

        <p>Pracuje od: <b><a th:text="${worker.getWorkingSince()}"></a></b></p>

        <p>Firma: <b><a th:text="${worker.getCompany().getName()}"></a></b></p>
</div>

</body>
</html>